
body{
    background: #f9f9f9;
}
form{
    background: white;
    padding: 2rem;
    border: 1px solid #D8DEE2;
}
.main{
width:30rem;
    /*height: 50rem;*/
    margin: 2rem auto;
}
.header{
    width: 30rem;
   text-align: center;
}
.header>h3{
    margin-top: 2rem;
}
.forget{
    float: right;
}
.footer{
    margin-top: 2rem;
    width:30rem;
    height: 3rem;
    border: 1px solid #D8DEE2;
line-height: 3rem;
    padding-left:0.5rem;
    /*background:white;*/

}
